.promo {

}

.promo__wrapper {

  &--bg {
    display: block;
    width: 320px;
    height: 246px;
    margin-bottom: 12px;
    background-color: lightcyan;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 9px;
  font-family: 'Museo Sans 300 Light', san-serif;
  font-size: 28px;
  line-height: 33px;
  font-weight: 300;
}

.promo__inner {

}

.promo__link-video {
  position: relative;
  display: block;
  margin-bottom: 10px;
  padding-left: 44px;
  font-family: 'Museo Sans 300 Light', san-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  text-decoration-style: dashed;
  color: #4a4a4a;
}

.promo__link-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 27px;
  background-image: url(../img/video-icon.svg);
}

.promo__link-create {
  display: block;
  width: 246px;
  padding-top: 14px;
  padding-bottom: 18px;
  background-color: #e88a74;
  font-family: 'Museo Sans 300 Light', san-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  border-radius: 1000px;
  text-decoration: none;
}

.promo__link-smartphone {

}

.promo__video-descr {
  display: inline-block;
  margin-bottom: 50px;
  font-family: 'Museo Sans 300 Light', san-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #4a4a4a;
}

.promo__text {
  font-family: 'Museo Sans 300 Light', san-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  color: #4a4a4a;

}

.promo__text-bold {
  font-family: 'Museo Sans 700 Bold';
  font-weight: 700;
}
